.table thead {
    position: relative;
}

.table thead.sticky-header {
    position: sticky;
    z-index: 10; /* Adjust z-index if needed */
    background-color: #fff; /* Match table header background */
}
